.defaultPageWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
}

.defaultPageTitle {
    font-size: 24px;
    font-weight: 700;
    padding: 60px 280px 20px 100px;
}

.defaultPageDescription {
    font-size: 16px;
    margin: 0px auto;
    padding: 0px 280px 0px 100px;  
    text-align: center;
}