.title {
    align-items: center;
    display: flex;
    font-size: 48px;
    font-weight: 700;
    justify-content: center;
}

.description {
    align-items: center;
    display: flex;
    font-size: 24px;
    justify-content: center;
}
