.selectedImageWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
}

.selectedImage {
    height: 200px;
    width: 200px;
}

.localThicknessTitle {
    font-size: 32px;
    font-weight: 700;
    padding: 48px 180px 0px 180px;
}

.localThicknessDescription {
    display: flex;
    font-size: 16px;
    padding: 8px 180px 16px 180px;
}