.localThicknessTitle {
    font-size: 32px;
    font-weight: 700;
    padding: 20px 180px 0px 180px;
}

.localThicknessDescription {
    display: flex;
    font-size: 16px;
    padding: 8px 180px 16px 180px;
}

.localThicknessMsg {
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.selectedImageWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
}

.localThicknessInputs {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.localThicknessInput {
    padding: 20px 12px 20px 12px;
}

.selectedImage {
    height: 400px;
    width: 520px;
}

.localThicknessButton {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}
