/* TODO: add sass to make css scalable and reusable */

/* .blobImageWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
} */

/* .blobImage {
    height: 200px;
    width: 200px;
} */

.blobTitle {
    font-size: 32px;
    font-weight: 700;
    padding: 48px 180px 0px 180px;
}

.blobDescription {
    display: flex;
    font-size: 16px;
    padding: 8px 180px 16px 180px;
}

.blobTextFields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 180px 0px 180px;
}

.blobTextField {
    padding: 20px 12px 20px 12px;
}

.blobButtons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blobButton {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}

/* .spinner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
