.blobImageWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blobImage {
    height: 200px;
    width: 200px;
}

.blobDescription {
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.blobTextFields {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blobTextField {
    padding: 20px 12px 20px 12px;
}

.blobButton {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.spinner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
