.renderedImageWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
}

.renderedImage {
    height: 400px;
    width: 520px;
}

.spinner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
}

.spinnerMsg {
    padding: 20px 20px;
}
