.bundleOfTubesTitle {
    font-size: 32px;
    font-weight: 700;
    padding: 48px 50px 0px 50px;
}

.bundleOfTubesDescription {
    display: flex;
    font-size: 16px;
    padding: 8px 50px 16px 50px;
}

.bundleOfTubesTextFields {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bundleOfTubesTextField {
    padding: 20px 12px 20px 12px;
}

.bundleOfTubesButton {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}
