.aboutPageParagraph {
    padding: 10px 280px 10px 100px;
}

.aboutPageSectionTitle {
    font-weight: 700;
    padding: 10px 280px 10px 100px;
}

.aboutPageParagraphWithLinks {
    padding: 10px 280px 10px 100px;
}
